<div  id="mywatchlist_div" class="bigEntrance">
<h1>Your Watchlist</h1>
</div>
<% listItems.forEach(result => { %> 
    <div id="result-Bg" class="slideRight">
    <ul class="resultcolor">
        <li>Id: <%= result.id %> </li>
        <li>Rank: <%= result.rank  %> </li>
        <li>Symbol: <%= result.symbol  %>  </li>
        <li>Name: <%= result.name  %> </li>
        <li>Price: $<%= result.priceUsd %> </li>
        <li>Supply: <%= result.supply %> </li>
        <li>MarketCapUsd: $<%= result.marketCapUsd %></li>
        <li>VolumeUsd24Hr: $<%= result.volumeUsd24Hr %> </li>
        <li>Explorer: <%= result.explorer %> </li>
        <li>Timestamp: <%= result.timestamp %> </li>
        
        <form method="POST" action="./mywatchlist/<%= result.id %>?_method=DELETE">
            <input type="submit" class = "btn btn-primary" value="Delete" id="deletebutton">
        </form>
      
    </ul>
    <form method="POST" action="./mywatchlist/?_method=PUT">
        <input type="submit" class="btn btn-primary" value="Update" id="updatebutton">
        <input  hidden type="text" value= "<%= result.id %>" name="id">
        <input  hidden type="text" value= "<%= result.cryptoid %> " name="cryptoid">
        </form>
    </div>
   <% }) %>
