<h2><a href="./mywatchlist" class="watchlist" id="watch">Your watchlist</a></h2>

<h1>Crypto Info</h1>



<ul>
    <% results.forEach(result => { %>
        <li>Id: <%= result.data.id %> </li>
        <li>Rank: <%= result.data.rank  %> </li>
        <li>Symbol: <%= result.data.symbol  %>  </li>
        <li>Name: <%= result.data.name  %> </li>
        <li>Price: $<%= result.data.priceUsd %> </li>
        <li>Supply: <%= result.data.supply %> </li>
        <li>MarketCapUsd: $<%= result.data.marketCapUsd %></li>
        <li>VolumeUsd24Hr: $<%= result.data.volumeUsd24Hr %> </li>
        <li>Explorer: <%= result.data.explorer %> </li>
        <li>Timestamp: <%= result.data.timestamp %> </li>
   <% }) %> 

   <% results.forEach(result => { %> 
   <a method="POST" action="./mywatchlist">
     <input hidden type="text" name="id" value="<%= result.data.id %> "> 
     <input hidden type="text" name="rank" value="<%= result.data.rank %> "> 
     <input hidden type="text" name="symbol" value="<%= result.data.symbol %> "> 
     <input hidden type="text" name="name" value="<%= result.data.name %> "> 
     <input hidden type="text" name="priceUsd" value="<%= result.data.priceUsd %> ">
     <input hidden type="text" name="supply" value="<%= result.data.supply %> ">  
     <input hidden type="text" name="maxSupply" value="<%= result.data.maxSupply %> "> 
     <input hidden type="text" name="marketCapUsd" value="<%= result.data.marketCapUsd %> "> 
     <input hidden type="text" name="volumeUsd24Hr" value="<%= result.data.volumeUsd24Hr %> "> 
     <input hidden type="text" name="changePercent24Hr" value="<%= result.data.changePercent24Hr %> "> 
     <input hidden type="text" name="vwap24Hr" value="<%= result.data.vwap24Hr %> "> 
     <input hidden type="text" name="explorer" value="<%= result.data.explorer %> "> 
    <button class="btn btn-primary" id="circle" type="submit">+</button>
   </form> 
       <% }) %>
   <!-- the above form is the form that I am using to add a cryptocurrency and its info to a database for favorites aka mywatchlist -->
    
</ul>

